// |===========================================================================|
// |----------------------------| Project Style |------------------------------|
// |===========================================================================|

@import "/src/styles/settings.scss";

// =============================================================================


.project-section {

    .project-bloc {

        width: 100%;
        height: 100%;
        margin-bottom: 100px;
        background-color: $color-primary;
        border-top: 1px solid $border-light-grey;

        .project-title {

            max-width: 70%;
            margin: 0 auto;
            margin-top: 80px;
            margin-bottom: 50px;
            position: relative;

            &::before {
                content: "";
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 1px;
                background-color: $border-light-grey;
            }

            h3 {
                font-family: $font-text;
                font-size: 4.5em;
                color: rgba(65, 65, 65, 0.247);
                text-transform: uppercase;
                margin: 0;
            }

            p {
                font-family: $font-text;
                font-size: 2em;
                color: $color-police-main;
                margin: 0;
                position: absolute;
                top: 40px;
                left: 30px;
                filter: drop-shadow(0px 2px 5px rgba(255, 255, 255, 0.562));
            }
        }

        .project-content {
            max-width: 70%;
            display: flex;
            justify-content: center;
            flex-direction: row;
            align-items: center;
            gap: 30px;
            margin: 0 auto;
            position: relative;

            .content-firstbloc {

                display: flex;
                justify-content: baseline;
                width: 50%;

                .nav-btn-project {

                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: row;
                    gap: 20px;
                    width: 230px;
                    padding: 12px 0px;
                    border: 1px solid $border-light-grey;
                    border-radius: 2px;
                    background: none;
                    color: $border-light-grey;
                    font-family: system-ui;
                    font-size: 1.3em;
                    font-weight: 600;
                    transition: 0.4s ease;
                    text-decoration: none;
                    position: absolute;
                    top: 0;
                    left: 30px;
                    user-select: none;

                    i {
                        color: $border-light-grey;
                        transition: 0.4s ease;
                    }

                    &:hover {
                        color: $border-btn-after;
                        border-color: $border-btn-after;
                        background-color: $background-btn;
                        cursor: pointer;

                        i {
                            color: $border-btn-after;
                        }
                    }
                }
            }


            .project-column {

                display: flex;
                flex-direction: column;

                .content-scndbloc {

                    display: flex;
                    justify-content: center;
                    flex-direction: row;
                    width: 100%;
                    max-width: 90%;
                    border-left: 1px solid $border-light-grey;
                    border-bottom: 1px solid $border-light-grey;

                    &:nth-child(2) {
                        flex-direction: row-reverse;
                        border-left: none;
                        border-right: 1px solid $border-light-grey;
                        background: linear-gradient(to bottom, $color-primary, rgba(54, 54, 54, 0.295));
                    }

                    .bloc-one {

                        display: flex;
                        flex-direction: column;
                        padding: 40px 30px;
                        gap: 30px;
                        width: 45%;
                        text-decoration: none;

                        &:hover {

                            cursor: pointer;

                            i,
                            h3,
                            p {
                                filter: opacity(0.5);
                            }
                        }

                        .bloc-one-content {

                            display: flex;
                            flex-direction: row;
                            justify-content: space-between;

                            h3 {
                                font-size: 1.7em;
                                font-family: system-ui;
                                color: $color-police-main;
                                margin: 0;
                                transition: 0.4s ease;
                            }

                            i {
                                font-size: 1.2em;
                                color: $color-police-main;
                                margin: 0;
                                transition: 0.4s ease;
                            }
                        }

                        .context-content {

                            display: flex;
                            flex-direction: column;
                            justify-content: space-between;
                            width: 100%;
                            height: 100%;

                            .context-one {

                                display: flex;
                                flex-direction: column;
                                gap: 20px;

                                p {
                                    font-size: 1em;
                                    font-family: system-ui;
                                    color: $color-police-main;
                                    margin: 0;
                                    width: 95%;
                                    transition: 0.4s ease;

                                    span {
                                        font-weight: 600;
                                    }
                                }
                            }

                            .context-two {

                                display: flex;
                                flex-direction: column;
                                gap: 20px;

                                p {
                                    font-size: 1em;
                                    font-family: system-ui;
                                    color: $color-police-main;
                                    margin: 0;
                                    width: 95%;
                                    transition: 0.4s ease;
                                }

                                ul {

                                    display: flex;
                                    flex-direction: row;
                                    gap: 10px;
                                    user-select: none;

                                    li {
                                        font-size: 0.8em;
                                        font-family: system-ui;
                                        color: $color-police-main;
                                        padding: 5px 10px;
                                        border: 1px solid $border-light-grey;
                                        border-radius: 2px;
                                        background-color: $background-btn;
                                        margin: 0;
                                        transition: 0.4s ease;
                                    }
                                }
                            }
                        }
                    }

                    .bloc-two {

                        width: 55%;
                        height: 400px;
                        padding: 20px;
                        border-left: 1px solid $border-light-grey;
                        position: relative;


                        &::before {
                            content: "";
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 97%;
                            height: 100%;
                            background: linear-gradient(to bottom, #0c0b0c23, transparent);
                        }

                        img {

                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            border-radius: 2px;
                            border: 1px solid $border-light-grey;
                        }
                    }
                }
            }
        }
    }
}