// |===========================================================================|
// |----------------------------| Project Style |------------------------------|
// |===========================================================================|

@import "/src/styles/settings.scss";

// =============================================================================


#project-section {

    .project-bloc {

        width: 100%;
        height: 100%;
        margin-bottom: 100px;
        background-color: $color-primary;
        border-top: 1px solid $border-light-grey;

        .project-title {

            max-width: 70%;
            margin: 0 auto;
            margin-top: 80px;
            margin-bottom: 50px;
            position: relative;

            @media (max-width: $sm) {

                max-width: 85%;
            }

            @media (max-width: $xs) {

                max-width: 90%;
            }

            &::before {
                content: "";
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 1px;
                background-color: $border-light-grey;
            }

            h3 {
                font-family: $font-text;
                font-size: 4.5em;
                color: rgba(65, 65, 65, 0.247);
                text-transform: uppercase;
                margin: 0;

                @media (max-width: $sm) {

                    font-size: 2.5em;
                }

                @media (max-width: $xs) {

                    font-size: 2em;
                }
            }

            p {
                font-family: $font-text;
                font-size: 2em;
                color: $color-police-main;
                margin: 0;
                position: absolute;
                top: 40px;
                left: 30px;
                filter: drop-shadow(0px 2px 5px rgba(255, 255, 255, 0.562));

                @media (max-width: $sm) {

                    font-size: 1.5em;
                    top: 18px;
                    left: 20px;
                }

                @media (max-width: $xs) {

                    font-size: 1.2em;
                    top: 15px;
                    left: 20px;
                }
            }
        }

        .project-content {
            max-width: 70%;
            display: flex;
            justify-content: center;
            flex-direction: row;
            align-items: center;
            gap: 30px;
            margin: 0 auto;
            position: relative;

            @media (max-width: $sm) {

                flex-direction: column-reverse;
                max-width: 85%;
            }

            @media (max-width: $xs) {

                flex-direction: column-reverse;
                max-width: 90%;
            }

            .content-firstbloc {

                display: flex;
                justify-content: baseline;
                width: 40%;
                height: 1320px;

                @media (max-width: $sm) {

                    width: 100%;
                    height: 100%;
                    justify-content: left;
                }

                @media (max-width: $xs) {

                    width: 100%;
                    height: 100%;
                    justify-content: left;
                }

                .nav-btn-project {

                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 20px;
                    width: 230px;
                    border: 1px solid $border-light-grey;
                    border-radius: 2px;
                    background: none;
                    color: $border-light-grey;
                    font-family: system-ui;
                    font-size: 1.3em;
                    font-weight: 600;
                    transition: 0.4s ease;
                    text-decoration: none;
                    position: sticky;
                    top: 28%;
                    left: 30px;
                    z-index: 99;
                    user-select: none;
                    height: 60px;

                    @media (max-width: $sm) {

                        gap: 15px;
                        width: 200px;
                        height: 50px;
                        font-size: 1.2em;
                    }

                    @media (max-width: $xs) {

                        gap: 20px;
                        width: 200px;
                        height: 50px;
                        font-size: 1.2em;
                    }

                    i {
                        color: $border-light-grey;
                        transition: 0.4s ease;
                    }

                    &:hover {
                        // color: $border-btn-after;
                        // border-color: $border-btn-after;
                        // background-color: $background-btn;
                        cursor: not-allowed;

                        // i {
                        //     color: $border-btn-after;
                        // }
                    }
                }
            }


            .project-column {

                display: flex;
                flex-direction: column;

                @media (max-width: $sm) {

                    width: 100%;
                }

                @media (max-width: $xs) {

                    width: 100%;
                }

                .content-scndbloc {

                    display: flex;
                    justify-content: center;
                    flex-direction: row;
                    width: 100%;
                    max-width: 90%;
                    border-left: 1px solid $border-light-grey;
                    border-bottom: 1px solid $border-light-grey;

                    @media (max-width: $sm) {

                        flex-direction: column-reverse;
                        border: none;
                        margin: 0 auto;
                        max-width: 100%;
                        gap: 20px;
                        padding: 20px 0;
                    }

                    @media (max-width: $xs) {

                        flex-direction: column-reverse;
                        border: none;
                        margin: 0 auto;
                        max-width: 95%;
                        gap: 20px;
                        padding: 20px 0;
                    }

                    &:nth-child(2) {
                        flex-direction: row-reverse;
                        border-left: none;
                        border-right: 1px solid $border-light-grey;
                        background: linear-gradient(to bottom, $color-primary, rgba(54, 54, 54, 0.295));

                        @media (max-width: $sm) {

                            flex-direction: column-reverse;
                            border: none;
                            background: none;
                        }

                        @media (max-width: $xs) {

                            flex-direction: column-reverse;
                            border: none;
                            background: none;
                        }
                    }

                    .bloc-one {

                        display: flex;
                        flex-direction: column;
                        padding: 40px 30px;
                        gap: 30px;
                        width: 45%;
                        text-decoration: none;

                        @media (max-width: $sm) {

                            width: 100%;
                            padding: 20px 0;
                            border-bottom: 1px solid $border-light-grey;
                        }

                        @media (max-width: $xs) {

                            width: 100%;
                            padding: 20px 0;
                            border-bottom: 1px solid $border-light-grey;
                        }

                        // &:hover {

                        //     cursor: pointer;

                        //     i,
                        //     h3,
                        //     p {
                        //         filter: opacity(0.5);
                        //     }
                        // }

                        .bloc-one-content {

                            display: flex;
                            flex-direction: row;
                            justify-content: space-between;

                            h3 {
                                font-size: 1.7em;
                                font-family: system-ui;
                                color: $color-police-main;
                                margin: 0;
                                transition: 0.4s ease;
                                width: 50%;

                                @media (max-width: $sm) {

                                    width: 50%;
                                    font-size: 1.5em;
                                }

                                @media (max-width: $xs) {

                                    width: 50%;
                                    font-size: 1.3em;
                                }
                            }


                            .context-three {

                                display: flex;
                                flex-direction: row;
                                justify-content: right;
                                gap: 5px;
                                width: 50%;
                                height: 30px;
                                user-select: none;

                                a {
                                    display: flex;
                                    flex-direction: row;
                                    align-items: center;
                                    gap: 5px;
                                    color: $color-police-main;
                                    font-family: system-ui;
                                    font-size: 0.7em;
                                    text-decoration: none;
                                    border: 1px solid $border-light-grey;
                                    padding: 5px 6px;
                                    transition: 0.4s ease;

                                    i {
                                        margin-bottom: -3px;
                                    }

                                    &:hover {
                                        color: rgb(160, 160, 160);
                                        background: $background-btn;
                                    }
                                }
                            }

                            // i {
                            //     font-size: 1.2em;
                            //     color: $color-police-main;
                            //     margin: 0;
                            //     transition: 0.4s ease;
                            // }
                        }

                        .context-content {

                            display: flex;
                            flex-direction: column;
                            justify-content: space-between;
                            width: 100%;
                            height: 100%;

                            @media (max-width: $sm) {

                                height: 270px;
                            }

                            @media (max-width: $xs) {

                                height: 260px;
                            }

                            .context-one {

                                display: flex;
                                flex-direction: column;
                                gap: 20px;

                                p {
                                    font-size: 1em;
                                    font-family: system-ui;
                                    color: $color-police-main;
                                    margin: 0;
                                    width: 95%;
                                    transition: 0.4s ease;

                                    @media (max-width: $sm) {

                                        font-size: 1em;
                                    }

                                    @media (max-width: $xs) {

                                        font-size: 0.9em;
                                    }

                                    span {
                                        font-weight: 600;
                                    }
                                }
                            }

                            .context-two {

                                display: flex;
                                flex-direction: column;
                                gap: 20px;

                                p {
                                    font-size: 1em;
                                    font-family: system-ui;
                                    font-weight: 600;
                                    color: $color-police-main;
                                    margin: 0;
                                    width: 95%;
                                    transition: 0.4s ease;

                                    @media (max-width: $sm) {

                                        font-size: 1em;
                                    }

                                    @media (max-width: $xs) {

                                        font-size: 0.9em;
                                    }
                                }

                                ul {

                                    display: flex;
                                    flex-direction: row;
                                    gap: 10px;
                                    user-select: none;

                                    li {
                                        font-size: 0.8em;
                                        font-family: system-ui;
                                        color: $color-police-main;
                                        padding: 5px 10px;
                                        border: 1px solid $border-light-grey;
                                        border-radius: 2px;
                                        background-color: $background-btn;
                                        margin: 0;
                                        transition: 0.4s ease;

                                        @media (max-width: $sm) {

                                            font-size: 0.85em;
                                            padding: 5px;
                                        }

                                        @media (max-width: $xs) {

                                            font-size: 0.7em;
                                            padding: 5px;
                                        }
                                    }
                                }
                            }
                        }
                    }

                    .bloc-two {

                        width: 55%;
                        height: 400px;
                        padding: 20px;
                        border-left: 1px solid $border-light-grey;
                        position: relative;
                        user-select: none;

                        @media (max-width: $sm) {

                            display: flex;
                            justify-content: center;
                            align-items: center;
                            width: 100%;
                            height: 300px;
                            border: none;
                            padding: 0;
                        }

                        @media (max-width: $xs) {

                            display: flex;
                            justify-content: center;
                            align-items: center;
                            width: 100%;
                            height: 250px;
                            border: none;
                            padding: 0;
                        }


                        &::before {
                            content: "";
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 97%;
                            height: 100%;
                            background: linear-gradient(to bottom, #0c0b0c23, transparent);

                            @media (max-width: $sm) {

                                width: 100%;
                            }

                            @media (max-width: $xs) {

                                width: 100%;
                            }
                        }

                        img {

                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            border-radius: 2px;
                            border: 1px solid $border-light-grey;

                            @media (max-width: $sm) {
                                border-radius: 5px;
                            }

                            @media (max-width: $xs) {
                                border-radius: 5px;
                            }
                        }
                    }
                }
            }
        }
    }
}