// |===========================================================================|
// |----------------------------| Project Style |------------------------------|
// |===========================================================================|

@import "/src/styles/settings.scss";

// =============================================================================


.project-section {

    border-bottom: 1px solid $border-light-grey;

    .project-bloc {

        width: 100%;
        height: 100%;
        margin-bottom: 50px;
        background-color: $color-primary;
        border-top: 1px solid $border-light-grey;

        .project-title {

            max-width: 70%;
            margin: 0 auto;
            margin-top: 80px;
            margin-bottom: 50px;
            position: relative;

            &::before {
                content: "";
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 1px;
                background-color: $border-light-grey;
            }

            h3 {
                font-family: $font-text;
                font-size: 4.5em;
                color: rgba(65, 65, 65, 0.247);
                text-transform: uppercase;
                margin: 0;
            }

            p {
                font-family: $font-text;
                font-size: 2em;
                color: $color-police-main;
                margin: 0;
                position: absolute;
                top: 40px;
                left: 30px;
                filter: drop-shadow(0px 2px 5px rgba(255, 255, 255, 0.562));
            }
        }

        .project-content {
            max-width: 55%;
            display: flex;
            justify-content: center;
            flex-direction: row;
            align-items: center;
            gap: 10px;
            margin: 0 auto;

            .project-elm {
                width: 10%;
                height: 500px;
                border: 1px solid $border-light-grey;
                border-radius: 5px;
                position: relative;
                overflow: hidden;
                transition: width 0.4s linear;

                &:first-child {

                    width: 100%;

                    .under-cover {

                        opacity: 1;
                    }
                }

                &:hover {
                    cursor: pointer;
                    width: 100%;

                    .under-cover {
                        opacity: 1;
                    }
                }

                img {
                    object-fit: cover;
                    width: 100%;
                    height: 100%;
                    border-radius: 2px;
                }

                .under-cover {
                    opacity: 0;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    padding: 15px;
                    background-color: rgba(53, 53, 53, 0.192);
                    backdrop-filter: blur(10px);
                    transition: width 0.6s linear;

                    h3 {
                        color: $color-primary;
                        font-family: $font-main-text;
                        font-size: 1.2em;
                        margin: 0;
                        margin-bottom: 10px;
                    }

                    p {
                        color: $color-primary;
                        font-family: $font-main-text;
                        font-size: 1em;
                        margin: 0;
                    }
                }
            }
        }

        .project-undercontent {

            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            max-width: 55%;
            margin: 0 auto;
            margin-top: 30px;

            p {
                font-family: system-ui;
                color: $color-police-main;
                font-size: 1.1em;
                font-weight: 600;
                margin: 0;
                width: 60%;

                i {
                    color: $color-police-main;
                    margin: 0;
                }
            }

            .nav-btn-project {

                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: row;
                gap: 20px;
                width: 250px;
                padding: 12px 0px;
                border: 1px solid $border-light-grey;
                border-radius: 2px;
                background: none;
                color: $border-light-grey;
                font-family: system-ui;
                font-size: 1.3em;
                font-weight: 600;
                transition: 0.4s ease;
                text-decoration: none;

                i {
                    color: $border-light-grey;
                    transition: 0.4s ease;
                }

                &:hover {
                    color: $border-btn-after;
                    border-color: $border-btn-after;
                    background-color: $background-btn;
                    cursor: pointer;

                    i {
                        color: $border-btn-after;
                    }
                }
            }
        }
    }
}