// |===========================================================================|
// |------------------------------| Quote Style |------------------------------|
// |===========================================================================|

@import "/src/styles/settings.scss";

// =============================================================================


.quote-section {

    position: relative;
    width: 100%;
    height: 100px;
    border-top: 1px solid $border-light-grey;
    border-bottom: 1px solid $border-light-grey;
    margin: 0;
    padding: 15px 0;
    overflow: hidden;

    @media (max-width: $xs) {

        padding: 5px 0;
    }

    &::after {
        content: "";
        position: absolute;
        width: 200%;
        height: 100%;
        top: 0;
        left: 0;
        background: linear-gradient(to bottom, $color-primary, rgba(128, 128, 128, 0.048));

        @media (max-width: $xs) {}
    }

    .quote-content {

        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 10px;
        height: 100%;
        max-width: 30%;
        margin: 0 auto;

        @media (max-width: $xs) {

            max-width: 80%;
        }

        h5 {
            color: $color-police-main;
            font-family: system-ui;
            font-size: 0.8em;
            margin: 0;

            @media (max-width: $xs) {

                font-size: 0.7em;
            }
        }

        p {

            color: $color-police-main;
            font-family: $font-main-text;
            font-size: 1.3em;
            text-align: center;
            margin: 0;

            @media (max-width: $xs) {

                font-size: 1em;
            }

            i {
                margin: 0;
                font-size: 0.8em;
                color: $color-police-main;

                @media (max-width: $xs) {

                    font-size: 0.6em;
                }
            }
        }

        h6 {
            color: $color-police-main;
            font-family: system-ui;
            font-size: 0.8em;
            text-align: end;
            margin: 0;

            @media (max-width: $xs) {

                font-size: 0.7em;
            }
        }
    }
}