// |===========================================================================|
// |--------------------------| Paramètres du site |---------------------------|
// |===========================================================================|

// --------- Couleur du site ---------

$color-primary: #0c0b0c;
// $color-secondary: #e2e2e2;

// --------- Nuance du site ----------

$color-white: #ffffff;
$color-black: #000000;
$background-header: #2020206c;
$background-btn: #d1d1d110;
$profil-card-background: #1f1f1f;

// --------- Nuance shadows ----------

$shadow-light-grey: #ffffff;
$shadow-lightgrey-nav: #5c5c5c50;
// $shadow-darkgrey: #7e7e7e79;

// --------- Nuance border -----------

$border-light-grey: #d4d4d433;
$border-btn-after: #dddddd96;

// --------- Nuance police -----------

$color-police-main: #d4d4d4;

// --------- Police du site ----------

@font-face {
    font-family: 'Audiowide';
    src: url(../assets/fonts/audiowide/Audiowide-Regular.ttf);
}

@font-face {
    font-family: 'Righteous';
    src: url(../assets/fonts/righteous/Righteous-Regular.ttf);
}

@font-face {
    font-family: 'intolight';
    src: url(../assets/fonts/intolight/ShadowsIntoLight-Regular.ttf);
}

@font-face {
    font-family: 'Grotesk';
    src: url(../assets/fonts/SpaceGrotesk/SpaceGrotesk-Regular.ttf);
}

// ------- Mixins et variables -------

$font-title: 'Audiowide';

$font-main-text: 'Grotesk';

$font-text: 'Righteous';

$font-caligraphy: 'intolight';

// ---------- Responsive ------------

// Small Mobile version
$xs: 380px;

// Mobile version
// $sm: 490px;

// Large Mobile version
// $md: 700px;

// Tablet Version
// $lg: 920px;

// Desktop Version
// $xl: 1440px;

// ------- Ajustement du site --------

* {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: $color-primary;
}

p,
ul {
    margin: 0;
    list-style: none;
    padding: 0;
}

// ------- Style scrollbar --------

::-webkit-scrollbar {
    width: 0.4em;
}

::-webkit-scrollbar-track {
    background: hsl(0, 0%, 13%);
}

::-webkit-scrollbar-thumb {
    background: hsl(0, 0%, 20%);

    &:hover {
        background: hsl(0 0% 60% / 0.5);
    }
}