// |===========================================================================|
// |------------------------------| About Style |------------------------------|
// |===========================================================================|

@import "/src/styles/settings.scss";

// =============================================================================

.about-section {

    margin-bottom: 50px;

    @media (max-width: $xs) {

        margin-bottom: 10px;
    }

    .about-bloc {

        width: 100%;
        height: 100%;
        background-color: $color-primary;
        border-top: 1px solid $border-light-grey;

        .about-title {

            max-width: 70%;
            margin: 0 auto;
            margin-top: 80px;
            margin-bottom: 30px;
            position: relative;

            @media (max-width: $xs) {

                max-width: 90%;
            }

            &::before {
                content: "";
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 1px;
                background-color: $border-light-grey;
            }

            h3 {
                font-family: $font-text;
                font-size: 4.5em;
                color: rgba(65, 65, 65, 0.247);
                text-transform: uppercase;
                margin: 0;

                @media (max-width: $xs) {

                    font-size: 2em;
                }
            }

            p {
                font-family: $font-text;
                font-size: 2em;
                color: $color-police-main;
                margin: 0;
                position: absolute;
                top: 40px;
                left: 30px;
                filter: drop-shadow(0px 2px 5px rgba(255, 255, 255, 0.562));

                @media (max-width: $xs) {

                    font-size: 1.2em;
                    top: 15px;
                    left: 20px;
                }
            }
        }

        .about-card {

            display: flex;
            justify-content: space-between;
            flex-direction: row;
            max-width: 60%;
            margin: 0 auto;

            @media (max-width: $xs) {

                flex-direction: column-reverse;
                max-width: 90%;
            }

            .about-card-first {

                display: flex;
                flex-direction: column;
                gap: 10px;
                width: 80%;
                padding: 30px 30px;

                @media (max-width: $xs) {

                    width: 90%;
                    padding: 30px 10px;
                }

                h4 {
                    font-family: $font-main-text;
                    font-size: 2em;
                    color: $color-police-main;
                    margin: 0;
                    position: relative;

                    @media (max-width: $xs) {

                        font-size: 1.5em;
                    }

                    span {
                        font-family: $font-text;
                    }

                    &::before {
                        content: "";
                        position: absolute;
                        width: 60px;
                        height: 4px;
                        background-color: $border-light-grey;
                        bottom: -5px;
                        left: 0;

                        @media (max-width: $xs) {

                            width: 40px;
                        }
                    }
                }

                p {
                    font-family: $font-main-text;
                    font-size: 1.3em;
                    color: $color-police-main;
                    margin: 0;

                    @media (max-width: $xs) {

                        font-size: 1em;
                    }
                }

                .about-margin {

                    margin: 40px 0;

                    @media (max-width: $xs) {

                        margin: 20px 0;
                    }
                }

                .btn-cv {

                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: row;
                    gap: 20px;
                    width: 220px;
                    padding: 15px 0;
                    border: 1px solid $border-light-grey;
                    border-radius: 2px;
                    background: none;
                    color: $border-light-grey;
                    font-family: system-ui;
                    font-size: 1.3em;
                    font-weight: 600;
                    transition: 0.4s ease;
                    text-decoration: none;
                    user-select: none;

                    @media (max-width: $xs) {

                        padding: 10px 0;
                        width: 180px;
                        font-size: 1.2em;
                        gap: 15px;
                        margin-top: 15px;
                    }

                    i {
                        color: $border-light-grey;
                        transition: 0.4s ease;
                    }

                    &:hover {
                        color: $border-btn-after;
                        border-color: $border-btn-after;
                        background-color: $background-btn;
                        cursor: pointer;

                        i {
                            color: $border-btn-after;
                        }
                    }
                }
            }

            .about-card-scnd {

                display: flex;
                flex-direction: column;
                gap: 10px;
                width: 20%;
                padding: 20px 30px;
                border-left: 1px solid $border-light-grey;

                @media (max-width: $xs) {

                    width: 100%;
                    border-left: none;
                    padding: 25px 0;
                    border-bottom: 1px solid $border-light-grey;
                }

                .mobile-card {

                    display: flex;
                    flex-direction: column;
                    gap: 10px;

                    @media (max-width: $xs) {

                        flex-direction: row;
                        justify-content: center;
                    }

                    .card-img {

                        background-image: url(/src/assets/images/profile/me.webp);
                        background-size: 300px;
                        background-repeat: no-repeat;
                        background-position: right 50% bottom 75%;
                        background-color: $profil-card-background;
                        border: 1px solid $border-light-grey;
                        border-radius: 1%;
                        width: 170px;
                        height: 170px;
                        margin: 0 auto;
                        position: relative;

                        @media (max-width: $xs) {

                            margin: 0;
                        }

                        &::after {
                            content: "";
                            position: absolute;
                            width: 100%;
                            height: 100%;
                            background-image: url('/src/assets/images/profile/picme.webp');
                            background-size: 80%;
                            background-position: center;
                            background-repeat: no-repeat;
                            opacity: 0;
                            transition: 0.4s ease;

                            @media (max-width: $xs) {

                                content: "#OPEN TO WORK ✔";
                                position: absolute;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                width: 100%;
                                height: 20px;
                                bottom: -1px;
                                left: 0;
                                font-family: $font-main-text;
                                font-weight: 500;
                                font-size: 0.8em;
                                color: $color-police-main;
                                background-image: none;
                                background: rgb(0, 54, 6);
                                opacity: 1;
                            }
                        }

                        &:hover {

                            cursor: grab;

                            @media (max-width: $xs) {

                                cursor: default;
                            }

                            &::after {
                                opacity: 1;
                            }
                        }
                    }

                    .card-link {

                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        gap: 5px;
                        margin-bottom: 20px;

                        @media (max-width: $xs) {

                            justify-content: center;
                            flex-direction: column;
                            margin: auto 0;
                        }

                        button {

                            background-color: transparent;
                            border: 1px solid $border-light-grey;
                            border-radius: 2px;
                            width: 40px;
                            height: 100%;
                            padding: 8px;
                            transition: 0.4s ease;

                            @media (max-width: $xs) {

                                height: 40px;
                            }

                            i {
                                font-size: 1.6em;
                                color: $border-light-grey;
                                transition: 0.4s ease;
                            }

                            &:hover {
                                background-color: $background-btn;
                                border-color: $border-btn-after;
                                cursor: pointer;

                                i {
                                    color: $border-btn-after;
                                }
                            }
                        }
                    }

                }

                .card-info {

                    display: flex;
                    flex-direction: column;
                    text-align: left;
                    padding-left: 15px;
                    width: 100%;
                    user-select: none;

                    @media (max-width: $xs) {

                        padding: 0;
                    }

                    p {

                        display: flex;
                        align-items: center;
                        gap: 5px;
                        font-size: 0.9em;
                        font-family: $font-main-text;
                        color: $color-police-main;
                        margin: 5px 0;

                        @media (max-width: $xs) {

                            padding-left: 55px;
                        }

                        i {
                            color: $color-police-main;
                        }

                        span {
                            text-transform: uppercase;
                            font-weight: 600;
                        }

                        img {
                            width: 25px;
                        }
                    }

                    .available-card {

                        display: flex;
                        justify-content: center;
                        align-items: center;
                        gap: 6px;
                        background-color: rgb(0, 54, 6);
                        border: 1px solid $border-light-grey;
                        border-radius: 2px;
                        width: 160px;
                        padding: 3px 5px;
                        margin-top: 40px;
                        user-select: none;

                        @media (max-width: $xs) {
                            display: none;
                        }

                        p {
                            font-family: $font-main-text;
                            font-size: 1em;

                            i {
                                color: $color-police-main;
                            }
                        }

                    }
                }
            }
        }
    }
}