// |===========================================================================|
// |-----------------------------| Header Style |------------------------------|
// |===========================================================================|

@import "/src/styles/settings.scss";

// =============================================================================

header {

    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    border-bottom: 1px solid $border-light-grey;
    background-color: $background-header;
    user-select: none;
    overflow: hidden;
    transition: background-color 0.5s linear, box-shadow 0.5s linear;

    &.header-fixed {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 1000;
        box-shadow: 2px 0px 10px $shadow-lightgrey-nav;
        backdrop-filter: blur(10px);

        &.header-scrolled {
            transform: translateY(0);
            opacity: 1;
            background-color: $color-primary;
            animation: fadeInUp 0.3s linear forwards;

            @keyframes fadeInUp {
                from {
                    opacity: 0;
                    transform: translateY(-100%);
                }

                to {
                    opacity: 1;
                    transform: translateY(0);
                }
            }
        }
    }

    .header-nav {

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        max-width: 90%;
        padding: 10px;
        margin: 0 auto;

        @media (max-width: $xs) {

            display: flex;
            justify-content: end;
            padding: 5px;
        }

        .header-first-bloc {

            position: relative;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            width: 300px;

            .nav-logo-btn {

                border: none;
                background: transparent;
                user-select: none;
                transition: 0.4s ease;

                &:hover {

                    cursor: pointer;
                    filter: drop-shadow(2px 0px 20px rgba(172, 172, 172, 0.562));
                }

                .nav-logo-text {

                    color: $color-police-main;
                    font-size: 2em;
                    font-family: $font-title;
                    letter-spacing: 1px;
                    margin: 0;

                    @media (max-width: $xs) {
                        font-size: 1.3em;
                    }

                    .nav-logo-span {

                        animation: flicker 0.7s linear infinite;

                        @keyframes flicker {
                            0% {
                                color: #ffffff80;
                            }

                            50% {
                                color: white;
                            }

                            100% {
                                color: #ffffff80;
                            }
                        }
                    }
                }

                .nav-logo-hr {

                    margin: 0;
                    width: 40px;
                    border-radius: 20px;
                    border-color: rgb(167, 167, 167);
                    animation: movebar 5s linear infinite;

                    @media (max-width: $xs) {
                        width: 20px;
                    }

                    @keyframes movebar {
                        0% {
                            transform: translateX(0px);
                        }

                        50% {
                            transform: translateX(30px);
                        }

                        100% {
                            transform: translateX(0px);
                        }
                    }
                }

                .nav-logo-scnd-text {

                    color: rgb(116, 116, 116);
                    font-size: 1.5em;
                    font-family: $font-caligraphy;
                    text-align: right;
                    margin: 0;

                    @media (max-width: $xs) {
                        font-size: 1em;
                    }
                }
            }

            .hr-nav-one {

                height: 70px;
                width: 0px;
                border-color: $border-light-grey;

                @media (max-width: $xs) {
                    display: none;
                }
            }
        }

        .header-scnd-bloc {

            display: flex;
            align-items: center;
            gap: 50px;
            text-transform: uppercase;

            @media (max-width: $xs) {

                display: none;
            }

            .nav-btn {

                text-decoration: none;
                color: $color-police-main;
                font-family: $font-title;
                font-size: 1.05em;
                margin: 0;
                position: relative;

                &::before {

                    content: "";
                    position: absolute;
                    top: 25px;
                    right: -5px;
                    width: 0%;
                    height: 2px;
                    background: white;
                    filter: drop-shadow(2px 0px 5px $color-white);
                    transition: 0.5s ease;
                }

                &::after {

                    content: "";
                    position: absolute;
                    bottom: 25px;
                    left: -5px;
                    width: 0%;
                    height: 2px;
                    background: white;
                    filter: drop-shadow(2px 0px 5px $color-white);
                    transition: 0.5s ease;
                }

                &:hover {

                    color: transparent;
                    -webkit-text-stroke-width: 1px;
                    -webkit-text-stroke-color: rgba(214, 214, 214, 0.384);
                    cursor: pointer;

                    &::before {

                        width: 20%;
                        transform: translateX(-420%);
                    }

                    &::after {

                        width: 20%;
                        transform: translateX(420%);
                    }
                }
            }

            .hr-nav-two {
                height: 30px;
                border-color: $border-light-grey;
                margin: 0;
            }

            .nav-contact-btn {

                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 10px;
                text-decoration: none;
                color: $color-police-main;
                font-family: $font-title;
                font-size: 1.05em;
                border: 1px solid $border-light-grey;
                border-radius: 5px;
                padding: 10px 20px;
                background-color: rgba(46, 46, 46, 0.171);
                -webkit-backdrop-filter: blur(10px);
                backdrop-filter: blur(10px);
                overflow: hidden;
                transition: 0.4s ease;
                position: relative;

                i {
                    margin: 0;
                    color: $color-police-main;
                }

                &:before {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 50%;
                    height: 100%;
                    background: linear-gradient(to left, rgba(83, 83, 83, 0.205), transparent);
                    transform: skewX(45deg) translateX(0);
                    transition: transform 0.4s ease;
                }

                &:hover {

                    filter: drop-shadow(0px 2px 50px $shadow-light-grey);
                    cursor: pointer;
                    animation: flickering 0.2s ease forwards;

                    @keyframes flickering {
                        0% {
                            border: 1px solid #ffffff80;
                        }

                        50% {
                            border: 1px solid transparent;
                        }

                        100% {
                            border: 1px solid #ffffff80;
                        }
                    }

                    &:before {

                        transform: skewX(45deg) translateX(200%);
                    }
                }
            }
        }

        .mobile-menu {

            button {

                border: none;
                background: transparent;

                i {
                    font-size: 2em;
                    color: $color-police-main;
                }
            }
        }
    }
}