// |===========================================================================|
// |------------------------------| Skill Style |------------------------------|
// |===========================================================================|

@import "/src/styles/settings.scss";

// =============================================================================


.skill-section {

    .skill-bloc {

        border-top: 1px solid $border-light-grey;
        border-bottom: 1px solid $border-light-grey;
        background-color: $color-primary;
        max-width: 60%;
        padding: 10px 0;
        margin: 0 auto;
        overflow: hidden;
        position: relative;

        &::before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            width: 5%;
            height: 100%;
            background: linear-gradient(to left, rgba(14, 14, 14, 0.089), rgba(131, 131, 131, 0.123));
            z-index: 120;
        }

        &::after {
            content: "";
            position: absolute;
            right: 0;
            top: 0;
            width: 5%;
            height: 100%;
            background: linear-gradient(to right, rgba(14, 14, 14, 0.089), rgba(131, 131, 131, 0.123));
            z-index: 120;
        }

        .skill-card-bloc {

            display: flex;
            flex-direction: row;
            justify-content: center;
            white-space: nowrap;
            gap: 10px;
            max-width: 70%;
            margin: 0 auto;
            animation: Skillslide 20s linear infinite;


            @keyframes Skillslide {
                from {
                    transform: translateX(110%);
                }

                to {
                    transform: translateX(-110%);
                }
            }

            .skill-card {

                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                padding: 15px;
                gap: 15px;
                width: 70px;
                height: 70px;
                border: 1px solid $border-light-grey;
                border-radius: 2px;
                transition: 0.4s ease;
                user-select: none;

                &:hover {
                    border: 1px solid $border-btn-after;

                    i {
                        color: $color-police-main;
                    }

                    h6 {
                        color: $color-police-main;
                    }
                }

                i {
                    color: $border-light-grey;
                    font-size: 2em;
                    margin: 0;
                    transition: 0.4s ease;
                }

                h6 {
                    font-family: $font-main-text;
                    color: $border-light-grey;
                    font-size: 1em;
                    margin: 0;
                    transition: 0.4s ease;
                }
            }
        }
    }
}